div.panel ul {
	list-style:none;
	padding:0;
}

div.panel li {
	display:inline-block;
	width:100px;
	text-align:center;
	margin-top:15px;
	margin-bottom:10px;
	padding-left:20px;
}

div.panel img {
	display:block;
	margin:0 auto;
	height:50px;
}

.panel-body {
	padding-bottom:0;
}

div.panel_photo_album {
	display:inline-block;
	width:48%;
	float:left;
}

div.panel_newsletter {
	display:inline-block;
	width:48%;
	float:right;
}

div.panel_webshop {
	display:inline-block;
	width:48%;
	float:left;
}

div.panel_system {
	display:inline-block;
	width:48%;
	float:right;
}
