/* Forums
 */
div.forums {
	margin-bottom:20px;
}

div.forums div {
	border-bottom:1px solid #c0c0c0;
	padding:5px;
}

div.forums div {
	font-style:italic;
}

div.forums div:last-child {
	border:0;
}

div.forums h3 {
	font-style:normal;
	margin:0;
	padding:0;
	border:0;
}

div.forums a {
	font-weight:bold;
	text-decoration:none;
}

/* Forum
 */
table.table td {
	font-size:14px;
}

table.table td:nth-child(4) {
	width:200px;
}

div.row div.col-sm-2 {
	text-align:right;
}

@media (max-width:767px) {
	table.table th:nth-child(n+3),
	table.table td:nth-child(n+3) {
		display:none;
	}
}

/* Topic
 */
div.topic div.panel-heading div div:nth-child(3) {
	text-align:right;
}

/* Smilies
 */
div.smilies img {
	margin-left:2px;
	cursor:pointer;
}
