/* Albums
 */
div.albums div.album {
	margin-right:20px;
	width:350px;
	height:120px;
	float:left;
}

div.albums div.row div:first-child {
	width:120px;
}

div.albums img {
	border:1px solid #000000;
	border-radius:3px;
	padding:1px;
	margin:0;
}

/* Photos
 */
div.photos {
	margin-bottom:15px;
}

div.photos div.photo {
	float:left;
	height:120px;
	width:120px;
}
div.photos div.photo img {
	border:1px solid #000000;
	padding:1px;
	background-color:#ffffff;
	display:block;
	margin:auto;
}

div.photos div.photo div.box {
	width:104px;
	height:104px;
	display:table-cell;
	vertical-align:middle;
	background-color:#f8f8f8;
}
