div.rsslink {
	position:absolute;
	top:40px;
	left:60%;
}

/* Weblog
 */
div.weblog {
	margin-bottom:30px;
}

div.weblog > div.row {
	border-bottom:1px solid #c0c0c0;
}

div.weblog > div.row h2 {
	margin:0;
	padding-bottom:2px;
	display:inline-block;
}

div.weblog > div.row div:nth-child(2) {
	margin-top:7px;
}

div.weblog div.row div:nth-child(2) {
	text-align:right;
}

div.weblog div.content img {
	max-width:100%;
}

@media (max-width:767px) {
	div.weblog div.content img {
		max-width:50%;
	}
}

/* Tags
 */
div.tags {
	float:left;
	font-size:11px;
}

div.tags span {
	font-style:italic;
}

div.tags span:after {
	content:",";
	margin-right:3px;
	font-style:normal;
}

div.tags span:last-child:after {
	content:"";
}

/* Author and comments
 */
div.weblog div.author {
	text-align:right;
	font-size:12px;
}

div.comment_count {
	text-align:right;
	font-size:12px;
}

div.comments > div {
	margin-top:10px;
}

div.comments div.panel-body {
	overflow:hidden;
}

/* Sidebar
 */
div.sidebar {
	border-left:1px solid #d0d0d0;
	padding-left:20px;
}

div.sidebar ul {
	list-style:square inside;
	padding:0;
}

@media (max-width:767px) {
	div.sidebar {
		font-size:16px;
	}
}
