span.currency {
	margin-right:2px;
}

h3 {
	margin-top:10px;
	margin-bottom:2px;
	border-bottom:1px solid #ff7900;
}

table.articles td:nth-child(2) {
	width:120px;
	text-align:right;
	padding-right:30px;
}

table.articles td:nth-child(3) {
	width:50px;
	text-align:right;
}

table.articles tfoot td {
	font-weight:bold;
}

@media (min-width:768px) {
	form.type {
		position:relative;
		height:0;
		top:-40px;
		left:250px;
		width:150px;
	}
}

@media (max-width:767px) {
	table.overview th:nth-child(2),
	table.overview td:nth-child(2) {
		display:none;
	}
}
