@media (min-width:767px) {
	table.table th {
		width:120px;
	}

	table.table th:first-child {
		width:150px;
		min-width:150px;
	}

	table.table th:last-child {
		width:auto;
	}
}

span.glyphicon-ok {
	color:green;
}

span.glyphicon-remove {
	color:red;
}
