@media (min-width:768px) {
	form.search {
		float:right;
		margin-top:-45px;
		margin-right:75px;
	}
}

@media (max-width:767px) {
	table th:nth-child(3),
	table td:nth-child(3) {
		display:none;
	}
}
