table.pending th:nth-child(n+2) {
	width:25%;
}

table.polls th:last-child {
	width:90px;
}

table.polls td:last-child input[type=submit] {
	width:80px;
}

h3.spacer {
	margin-top:50px;
}

@media (max-width:767px) {
	table.table th:nth-child(2),
	table.table td:nth-child(2),
	table.table th:nth-child(3),
	table.table td:nth-child(3) {
		display:none;
	}
}
