body {
	background:url(/images/layout/site_bg.jpg) repeat-x;
	background-color:#f2f2f2;
}

h1 {
	font-size:32px;
	margin-top:0;
}

h2 {
	font-size:24px;
	margin-bottom:5px;
}

h3 {
	font-size:18px;
}

ul {
	padding-left:15px;
}

div.left {
	float:left;
}

div.right {
	float:right;
}

div.clear {
	clear:both;
}

img.title_icon {
	float:right;
	margin-top:-15px;
	margin-bottom:-15px;
}

div.input-group input.btn {
	padding:6px 25px;
}

@media (max-width:767px) {
	table.table-xs > thead > tr > th,
	table.table-xs > tbody > tr > td,
	table.table-xs > tfoot > tr > td {
		display:block;
	}

	table.table-xs > thead > tr > th:last-child {
		border:none;
	}

	table.table-xs > thead > tr > th:first-child,
	table.table-xs > tbody > tr > td:first-child,
	table.table-xs > tfoot > tr > td:first-child {
		border-top:2px solid #808080;
	}
}

/* Header
 */
div.header {
	background-image:url(/images/layout/site_title_bg.jpg);
	background-size:cover;
	height:100px;
	box-shadow:0 0 20px #303080;
}

div.header div.title {
	font-size:40px;
	color:#ffffff;
	vertical-align:bottom;
	margin:40px 0 0 28px;
}

nav.navbar {
	margin-bottom:0;
	border-radius:0
}

/* Page
 */
body > div.content {
	position:relative;
	background:url(/images/layout/site_content_bg.jpg) repeat-x;
	background-color:#ffffff;
	padding:40px 50px 50px 50px;
	box-shadow:0 0 20px #808080;
	min-height:400px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

@media (max-width:767px) {
	body > div.content {
		padding:40px 20px 30px 20px;
	}
}

input.form-control, textarea.form-control, select.form-control {
	max-width:500px;
	margin-bottom:5px;
}

@media (max-width:767px) {
	input.form-control, textarea.form-control, select.form-control {
		font-size:16px;
	}
}

input[type=checkbox] {
	margin-left:5px;
}

textarea.form-control {
	height:75px;
}

div.btn-group {
	margin:15px 10px 10px 0;
}

.btn {
	padding:4px 24px;
}

.btn-xs {
	padding:0 16px;
}

table.table-hover tbody tr:hover {
	cursor:pointer;
}

/* Footer
 */
div.footer {
	text-align:center;
	margin-top:30px;
	margin-bottom:40px;
	color:#a0a0a0;
	font-size:12px;
}

div.footer a {
	color:#606060;
}

@media (min-width:768px) {
	div.footer span:before {
		content:"|";
		margin:0 20px;
	}
	div.footer span:first-child:before {
		content:"";
		margin:0;
	}
}

@media (max-width:767px) {
	div.footer span {
		display:block;
		margin-bottom:10px;
	}
}
