body {
	background:url(/images/layout/demo_bg.jpg) repeat-x;
	background-color:#f2f2f2;
}

h1 {
	font-size:32px;
	margin-top:0;
}

h2 {
	font-size:24px;
	margin-bottom:5px;
}

h3 {
	font-size:18px;
}

ul {
	padding-left:15px;
}

/* Header
 */
div.header {
	background-image:url(/images/layout/demo_title_bg.jpg);
	background-size:cover;
	height:100px;
	box-shadow:0 0 20px #303080;
}

div.header div.title {
	font-size:40px;
	color:#ffffff;
	vertical-align:bottom;
	margin:40px 0 0 28px;
}

nav.navbar {
	margin-bottom:0;
	border-radius:0
}

/* Page
 */
body > div.content {
	position:relative;
	background:url(/images/layout/demo_content_bg.jpg) repeat-x;
	background-color:#ffffff;
	padding:40px 50px 50px 50px;
	box-shadow:0 0 20px #808080;
	min-height:400px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

@media (max-width:767px) {
	body > div.content {
		padding:40px 20px 30px 20px;
	}
}

/* Footer
 */
div.footer {
	text-align:center;
	margin-top:30px;
	margin-bottom:40px;
	color:#a0a0a0;
	font-size:12px;
}

div.footer a {
	color:#606060;
}

@media (min-width:768px) {
	div.footer span:before {
		content:"|";
		margin:0 20px;
	}
	div.footer span:first-child:before {
		content:"";
		margin:0;
	}
}

@media (max-width:767px) {
	div.footer span {
		display:block;
		margin-bottom:10px;
	}
}
