div.albums {
	position:relative;
	left:300px;
	top:-30px;
	height:0;
	width:450px;
}

div.photos {
	margin-top:30px;
}

div.photos div {
	float:left;
	padding:0 20px 20px 0;
}

div.photos div p {
	width:120px;
}

img.preview {
	padding:2px;
}

img.overview_yes {
	border:1px solid #000000;
}

img.overview_no {
	border:1px dashed #000000;
}

img.preview_edit {
	float:right;
	border:1px solid #000000;
	padding:2px;
	margin-right:200px;
}

input.button, a.button {
	margin:15px 10px 0 0;
}
